<app-navbar (selectCurrency)="divisaSelected($event)"></app-navbar>
<div *ngIf="!load">
    <div class="col-md-12">
        <div class="d-flex justify-content-center carga">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/img/logo.png" alt="" width="100">
        </div>
    </div>
</div>
<div class="container" *ngIf="load">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4 text-center">
                <span *ngIf="oferta > 0" class="notify-badge">-{{oferta}}% OFF</span>
                <img [src]="imagen" alt="" width="93%">
            </div>
            <div class="col-lg-5 info">
                <h2>{{juego}}</h2>
                <H4>{{preciosec | currency}} <small>COP</small> {{precio | currency}} <small>COP</small></H4>
                <hr>
                <p><i class="fa fa-language fa-lg"></i> &nbsp;{{idioma}}</p>
                <p><i class="fa fa-calculator fa-lg"></i>&nbsp;Peso: <b>{{peso}}</b></p>
                <p><i class="fa fa-check-circle fa-lg"></i>&nbsp;Juego completamente original</p>
                <p>- Entrega inmediata</p>
                <p>- Tutorial paso a paso</p>
                <label for=""><b>Seleccionar slot:</b> </label>
                <p>
                    <button (click)="activateSale('primario')" class="btn btn-primary">Cuenta Principal</button>&nbsp;
                    <button (click)="activateSale('secundario')" class="btn btn-primary">Cuenta Secundaria</button>
                </p>
                <h4 *ngIf="secund">{{preciosec | currency}} <small>COP</small></h4>
                <h4 *ngIf="prim">{{precio | currency}} <small>COP</small></h4>
                <hr>
                <button *ngIf="!activa" class="btn btn-dark btn-block" disabled><i class="fa fa-cart-plus fa-lg"></i> <b> COMPRARLO</b></button>
                <button *ngIf="activa" class="btn btn-dark btn-block" (click)="request(idGame)"><i class="fa fa-cart-plus fa-lg"></i> <b> COMPRARLO</b></button>
            </div>
            <div class="col-lg-3">
                <br>
                <h5>Juegos relacionados</h5>
                <hr>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4" *ngFor="let juego of relacionados" (click)="openGame(juego.id)">
                        <div class="card">
                            <img [src]="juego.imageProd" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-3">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <span class="nav-link" (click)="viewTabs('descripcion')">Descripción</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="viewTabs('ficha')">Ficha Técnica</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="viewTabs('comentarios')">Comentarios</span>
                    </li>
                </ul>
            </div>
        </div>
        <br><br>
        <!---------------------DESCRIPCION----------------------->
        <div *ngIf="descrip" class="row" id="galeria">
            <div class="col-lg-8">
                <h4>
                    <img src="../../../assets/img/detalle/product-description.png" width="50" class="img-fluid" alt="Responsive image"> DESCRIPCIÓN: <small><b>{{juego | titlecase}}</b></small></h4>
                <p>{{descripcion}}</p>
            </div>
        </div>
        <!---------------------FICHA TÉCNICA----------------------->
        <div *ngIf="ficha" class="row" id="ficha">
            <div class="col-lg-12">
                <h4>FICHA TÉCNICA</h4>
                <p><img src="../../../assets/img/detalle/ps4.png" width="30" class="img-fluid" alt="Responsive image">&nbsp; - Categoría: <b>{{categoria}}</b></p>
                <p><img src="../../../assets/img/detalle/deaf.png" width="30" class="img-fluid" alt="Responsive image">&nbsp; - Idioma: <b>{{idioma}}</b></p>
                <p><img src="../../../assets/img/detalle/hard-disk-drive.png" width="30" class="img-fluid" alt="Responsive image">&nbsp; - Peso: <b>{{peso}}</b></p>
                <p><img src="../../../assets/img/detalle/ps4logo.png" width="30" class="img-fluid" alt="Responsive image">&nbsp; - Tipo: <b>{{tipo}}</b></p>
            </div>
        </div>
        <!---------------------COMENTARIOS----------------------->
        <div *ngIf="comentarios" class="row" id="comentario">
            <div class="col-lg-12">
                <h4>COMENTARIOS</h4>
                <p>Contenido</p>
            </div>
        </div>
    </div>
</div>