<app-navbar (selectCurrency)="divisaSelected($event)"></app-navbar>
<div *ngIf="!load">
    <div class="col-md-12 lding">
        <div class="d-flex justify-content-center carga">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/img/logo.png" alt="" width="100">
        </div>
    </div>
</div>
<div *ngIf="load">
    <div class="col-lg-12 d-none d-lg-block d-xl-block">
        <div class="row">
            <div class="col-lg-9">
                <table class="table table-responsive mt-3 animated fadeIn faster">
                    <thead>
                        <tr>
                            <th scope="col">Juego</th>
                            <th scope="col"></th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of compras">
                            <td><img [src]="item.compra[2]" class="img-fluid img-thumbnail" alt=" "> </td>
                            <td>
                                <h5>{{item.compra[1]}} <br></h5>
                                <p>EjePlay Pereira.</p>
                            </td>
                            <td class="text-center">{{item.compra[5]}}</td>
                            <td class="text-center">1</td>
                            <td class="text-center">{{item.compra[4]}}%</td>
                            <td class="text-center">${{item.compra[3] | number}}</td>
                            <td class="text-center">${{item.compra[3] - ((item.compra[3] * item.compra[4])/100) | number}}</td>
                            <td class="text-center">
                                <button class="btn btn-danger" title="Eliminar" (click)="borrarProducto(item)">
                            <i class="fa fa-trash"></i>
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 mt-3">
                <p>
                    <label for="Subtotal" class="blok"><b>Subtotal:</b></label>
                    <b class="liquid" style="float: right;">${{subtotal | number}}</b>
                </p>
                <p>
                    <label for="Subtotal" class="blok"><b>Descuento:</b></label>
                    <b class="liquid" style="color: rgb(8, 81, 240); float: right;">${{descuento | number}}</b>
                </p>
                <!-- <p>
                    <label for="Subtotal" class="blok">Cupón:</label>
                    <input type="text" class="liquid2" placeholder="Código de cupón">
                </p> -->
                <p>
                    <label for="Subtotal" class="blok1"><b>TOTAL:</b></label>
                    <b class="liquid1" style="float: right;">${{liquidacion | number}}</b>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="check($event.target.value)" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Acepto términos y condiciones de EjePlay y autorizo el tratamiento de mis datos personales.
                    </label>
                </div>
                <hr>
                <!-- compra -->
                <button class="endShop" type="button">                                      
                    <i class="fa fa-credit-card" aria-hidden="true" (click)="payu()" data-toggle="modal" data-target="#modalCompra"> Finalizar Compra </i>                    
                </button>
                <button class="shop" routerLink='/compras'>
                    <i class="fa fa-shopping-cart" aria-hidden="true"> Seguir comprando </i>                    
                </button>
            </div>
        </div>
    </div>
    <div class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
        <div class="container movil">
            <div class="col-12">
                <table class="table table-responsive mt-3 animated fadeIn faster">
                    <thead>
                        <tr>
                            <th scope="col">Juego</th>
                            <th scope="col"></th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of compras">
                            <td><img [src]="item.compra[2]" class="img-fluid img-thumbnail" alt=" "> </td>
                            <td>
                                <h5>{{item.compra[1]}} <br></h5>
                                <p>EjePlay Pereira.</p>
                            </td>
                            <td>{{item.compra[5]}}</td>
                            <td>1</td>
                            <td>{{item.compra[4]}}%</td>
                            <td class="text-center">${{item.compra[3] | number}}</td>
                            <td class="text-center">${{item.compra[3] - ((item.compra[3] * item.compra[4])/100) | number}}</td>
                            <td class="text-center">
                                <button class="btn btn-danger" title="Eliminar" (click)="borrarProducto(item)">
                            <i class="fa fa-trash"></i>
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="col-12">
                <p>
                    <label for="Subtotal" class="blok"><b>Subtotal:</b></label>
                    <input type="text" class="liquid" readonly [value]="subtotal | currency">
                </p>
                <p>
                    <label for="Subtotal" class="blok"><b>Descuento:</b></label>
                    <input style="color: rgb(8, 81, 240);" type="text" class="liquid" readonly [value]="descuento | currency">
                </p>
                <!-- <p>
                    <label for="Subtotal" class="blok">Cupón:</label>
                    <input type="text" class="liquid2" placeholder="Código de cupón">
                </p> -->
                <p>
                    <label for="Subtotal" class="blok1"><b>TOTAL:</b></label>
                    <input type="text" class="liquid1" readonly [value]='liquidacion |currency'>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="check($event.target.value)" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Acepto términos y condiciones de EjePlay y autorizo el tratamiento de mis datos personales.
                    </label>
                </div>
                <hr>
                <button class="endShop" type="button">                                      
                    <i class="fa fa-credit-card" aria-hidden="true" (click)="payu()"> Finalizar Compra </i>                    
                </button>
                <button class="shop" routerLink='/compras'>
                    <i class="fa fa-shopping-cart" aria-hidden="true"> Seguir comprando </i>                    
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal -->

<div *ngIf="checkOn" class="modal fade" id="modalCompra" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finalizar Compra</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="../../../assets/img/logo_payu.png" alt="" width="90"><br>
                    <form #form method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
                        <input name="merchantId" type="hidden" [value]='merchantid'>
                        <input name="accountId" type="hidden" [value]='accountId'>
                        <input name="description" type="hidden" value="Pago PAYU EjePlay Pereira">
                        <input name="referenceCode" type="hidden" [value]='reference'>
                        <input name="amount" type="hidden" [value]='liquidacion'>
                        <input name="tax" type="hidden" value="0">
                        <input name="taxReturnBase" type="hidden" value="0">
                        <input name="currency" type="hidden" value="COP">
                        <input name="signature" type="hidden" [value]='signature'>
                        <input name="test" type="hidden" value="0">
                        <input name="buyerEmail" type="hidden" [value]='email'>
                        <input name="responseUrl" type="hidden" value="https://www.ejeplaypereira.com/#/confirmacion">
                        <input name="confirmationUrl" type="hidden" value="http://www.test.com/confirmation">
                        <button type="submit" class="pago">
                            <i class="fa fa-credit-card" (click)="form.submit()" aria-hidden="true"> Aceptar </i>
                        </button>
                    </form>
                    <button class="btn btn-danger pago mt-2" style="background-color: rgb(160, 9, 9);" data-dismiss="modal" (click)="saleCancel(reference)">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false" href="#"></a>