<app-navbar (selectCurrency)="divisaSelected($event)"></app-navbar>
<div *ngIf="!load">
    <div class="col-md-12">
        <div class="d-flex justify-content-center carga">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/img/logo.png" alt="" width="100">
        </div>
    </div>
</div>
<div *ngIf="load">
    <div class="container">
        <div class="col-lg-12">
            <h3 class="titulo">Catálogo de juegos PS4</h3>
            <hr>
            <div class="row">
                <div class="col-lg-3 izq">
                    <form class="form-inline">
                        <input class="form-control sch" [(ngModel)]="filterProducto" name="filterProducto" type="search" placeholder="Buscar juego..." aria-label="Search">
                        <button class="btnshc"><i class="fa fa-search-plus fa-lg"></i></button>
                    </form>
                    <h5 class="titulo mt-3">Filtrar por categoría</h5>
                    <button (click)="loadAllgames()" class="btn btn-primary btn-block">Todos</button>
                    <button (click)="btnSearch('Deportes')" class="btn btn-primary btn-block">Deportes</button>
                    <button (click)="btnSearch('Accion')" class="btn btn-primary btn-block">Acción</button>
                    <button (click)="btnSearch('Rol')" class="btn btn-primary btn-block">Rol</button>
                    <button (click)="btnSearch('Infantil')" class="btn btn-primary btn-block">Infantil</button>
                    <button (click)="btnSearch('Aventura')" class="btn btn-primary btn-block">Aventura</button>
                    <form class="mt-3">
                        <div class="form-group">
                            <label for="formControlRange"><h5 class="titulo">Filtrar precio</h5></label>
                            <input type="range" id="slider" class="form-control-range rng" min="0" max="300000" step="1000" value="0" (change)="value($event.target.value)">
                            <div class="text-right mt-3">
                                <label><h5>Selección: <b>{{rango | currency}}</b></h5></label>
                                <button class="filtrar" (click)="findPrice(rango)">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col mb-3" *ngFor="let juego of juegos | filter:filterProducto">
                            <div class="card games" (click)="openGame(juego.id)">
                                <span *ngIf="juego.oferta > 0" class="notify-badge">-{{juego.oferta}}% OFF</span>
                                <img [src]="juego.imageProd" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title">{{juego.nombre | titlecase}}</p>
                                    <p *ngIf="!dolar" class="card-text"><b>{{juego.precio | currency}} COP </b></p>
                                    <p *ngIf="dolar" class="card-text"><b>{{(juego.precio)/usd | currency}} USD</b></p>
                                    <p *ngIf="!dolar" class="card-text"><b>{{juego.preciosec | currency}} COP </b></p>
                                    <p *ngIf="dolar" class="card-text"><b>{{(juego.preciosec)/usd | currency}} USD</b></p>
                                    <button class="compra"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>