.container {
    margin-top: 9rem;
    .ingreso {
        background-color: #364d6a !important;
        border-color: #364d6a !important;
    }
    .ingreso:hover {
        background-color: #f1f1f1 !important;
        border-color: #364d6a !important;
        color: #364d6a !important;
    }
    .count {
        border-color: #364d6a !important;
        color: #364d6a !important;
    }
    .count:hover {
        background-color: #364d6a !important;
        border-color: #364d6a !important;
        color: #fff !important;
    }
    .pass {
        width: 80%;
        margin-left: 15px;
    }
    .viewPass {
        float: right;
        color: #364d6a;
    }
    .forgotPass {
        text-decoration: none;
        color: #364d6a;
    }
    .spn {
        margin-left: 15px;
        color: red;
    }
    .eml {
        color: red;
    }
}

.carga {
    margin-top: 13rem;
    .spinner-border {
        color: #364d6a !important;
        font-size: large;
    }
}