.imgBox {
    width: 100%;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(201, 199, 199);
    .imgSrc {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: auto;
        height: 240px;
    }
}

.cntdor {
    border: solid;
    border-width: 1px;
    border-color: rgb(82, 78, 78);
    border-radius: 6px;
}

.imgchange {
    cursor: pointer;
}

.imgchange:hover {
    transform: scale(1.1);
    transition: 800ms;
    opacity: 0.5;
}